<div class="row">
  <div class="col-lg-12">
    <h1>顧客情報の編集</h1>
    <%= render 'form' %>
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete-customer">顧客情報を削除する</button>
  </div>
</div>
